.signup {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.signup .left-section {
  background-image: url(../../Utils/assets/images/signupBg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.signup .left-section .title {
  color: inherit;
  font-weight: bold;
}

.signup .left-section .desc {
  color: inherit;
  font-size: 19px;
}

.signup .left-section .signin-link {
  margin-top: 1.5rem;
  color: inherit;
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
  padding-left: 0;
  width: 200px;
  height: 45px;
  line-height: 45px;
  transition: all 0.25s;
}

.signup .left-section .signin-link:hover {
  color: white;
  background-color: #fdcb6e;
  border-color: #fdcb6e;
  transition: all 0.25s;
}

.signup .signup-form-container .signin-link {
  display: none;
}

.signup .signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.signup .signup-form-container .title {
  color: #5c5c5c;
}

.signup .ant-input,
.signup .ant-input-password {
  width: 380px;
}

.signup .input-container {
  margin-right: 94px;
}

.signup .ant-form .ant-form-item .ant-form-item-label {
  width: 34%;
  text-align: right;
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 300;
}

.signup .select-input .ant-form-item-control-input-content {
  display: flex;
  justify-content: flex-start;
}

.signup .ant-form-item input::placeholder,
.signup .ant-form-item .ant-form-item-explain-error {
  font-size: 16px;
  font-weight: 300;
}

.ant-form .ant-form-item .ant-form-item-explain-error {
  padding-bottom: 10px;
}

.ant-form .radio-label {
  font-size: 18px;
}

.signup-btn {
  font-weight: bold;
  color: white;
  width: 200px;
  height: 45px;
  border-radius: 5px;
  line-height: 1;
  transition: all 0.25s;
}

.signup-btn:hover {
  color: #fdcb6e;
  background-color: transparent;
  transition: all 0.25s;
}

@media only screen and (max-width: 1060px) {
  .signup .left-section {
    display: none;
  }

  .signup .input-container {
    margin-right: 0;
  }

  .signup .signup-form-container .signin-link {
    display: block;
    width: 100%;
    color: inherit;
    border-radius: 5px;
    background-color: transparent;
    transition: all 0.25s;
  }

  .signup .signup-form-container .signin-link:hover {
    color: white;
    background-color: #fdcb6e;
    transition: all 0.25s;
  }

  .signup-btn {
    width: 100%;
  }

  .ant-row .ant-form-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .signup-form-container .ant-form .ant-form-item .ant-form-item-label {
    width: 100%;
    text-align: left;
  }

  .signup-form-container .ant-form .ant-form-item .ant-form-item-control {
    width: 100%;
    min-height: 45px;
  }
}
