.signup {
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.signup .left-section {
  background-image: url(../../Utils/assets/images/signupBg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.signup .left-section .title {
  color: inherit;
  font-weight: bold;
}

.signup .left-section .desc {
  color: inherit;
  font-size: 19px;
}

.signup .left-section .signin-link {
  margin-top: 1.5rem;
  color: inherit;
  border: 1px solid white;
  border-radius: 3px;
  background-color: transparent;
  padding-left: 0;
  width: 200px;
  height: 45px;
  line-height: 45px;
  transition: all 0.25s;
}

.signup .left-section .signin-link:hover {
  color: white;
  background-color: #fdcb6e;
  border-color: #fdcb6e;
  transition: all 0.25s;
}

.signup .signup-form-container .signin-link {
  display: none;
}

.signup .signup-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.signup .signup-form-container .title {
  color: #5c5c5c;
}

/* .signup .ant-form .ant-form-item .ant-form-item-label {
  width: 33%;
  text-align: right;
} */

.signup-form-container
  .ant-form-horizontal
  .ant-form-item
  .ant-form-item-label
  > label {
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 300;
}

.signup .select-input .ant-form-item-control .ant-form-item-control-input-content {
  display: flex;
  justify-content: flex-start;
}

.signup .ant-form
  .ant-form-item
  .ant-form-item-control
  .ant-form-item-control-input-content
  .ant-select {
  width: 50%;
}

.ant-form
  .ant-form-item
  .ant-form-item-control
  .ant-form-item-control-input-content
  .ant-select-selector
  input {
  height: 45px;
  line-height: 45px;
  text-align: left;
  font-size: 18px;
  font-weight: 300;
}

.ant-form
  .ant-form-item
  .ant-form-item-control
  .ant-form-item-control-input-content
  .ant-select-selector
  .ant-select-selection-placeholder {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
}

.ant-form .ant-form-item .ant-form-item-control input::placeholder {
  font-size: 16px;
  font-weight: 300;
}

.ant-form .ant-form-item .ant-form-item-control .ant-form-item-explain-error {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 10px;
}

.ant-form .radio-label {
  font-size: 16px;
}

.signup-btn {
  color: white !important;
  width: 200px;
  height: 45px !important;
  border: 1px solid #fdcb6e !important;
  background-color: #fdcb6e !important;
  border-radius: 3px !important;
  line-height: 1 !important;
  transition: all 0.25s;
}

.signup-btn:hover {
  color: #fdcb6e !important;
  background-color: transparent !important;
  transition: all 0.25s;
}

@media only screen and (max-width: 1060px) {
  .signup .left-section {
    display: none;
  }

  .signup .signup-form-container .ant-form {
    width: 100%;
  }

  .signup .signup-form-container .signin-link {
    display: block;    
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: inherit;
    height: 45px;
    line-height: 45px;
    border: 1px solid #fdcb6e;
    border-radius: 3px;
    background-color: transparent;
    padding-left: 0;
    transition: all 0.25s;
  }

  .signup .signup-form-container .signin-link:hover {
    color: white;
    background-color: #fdcb6e;
    transition: all 0.25s;
  }

  .signup-btn {
    width: 100%;
  }

  .ant-row .ant-form-item {
    flex-direction: column;
    align-items: flex-start;
  }

  .signup-form-container .ant-form .ant-form-item .ant-form-item-label {
    width: 100%;
    text-align: left;
  }

  .signup-form-container
    .ant-form
    .ant-form-item
    .ant-form-item-control
    .ant-form-item-control-input-content
    .ant-select {
    width: 100%;
  }

  .signup-form-container .ant-form .ant-form-item .ant-form-item-control {
    width: 100%;
    min-height: 45px;
  }

  .signup-form-container
    .ant-form-item
    .ant-form-item-control
    .ant-form-item-control-input
    .ant-select-selector {
    height: 45px !important;
  }
  .signup-form-container
    .ant-form-item
    .ant-form-item-control
    .ant-form-item-control-input
    .ant-select-selector
    span {
    line-height: 45px !important;
  }
}

@media only screen and (max-width: 640px) {
  .signup .signup-form-container .signin-link .ant-anchor .ant-anchor-ink {
    display: none;
  }
}
