.menu-public{
    width: 705px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-info-notif{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-content: space-around;
}
.notif-description{
    color: #5C5C5C;
}

.notif-time{
    color: #FDCB6E;
} 

.logged-user-info{
    width: 166px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.user-name{
    font-size: 13px;
}

.nav-menu{
    font-size: 18px;
}

.logo{
    font-size: 40px;
    font-weight: 700;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: 'white';
    box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.16), 0px 8px 4px rgba(0, 0, 0, 0.08);
}

.error-msg{
    color: #5C5C5C;
}

.login-btn{
    width: fit-content;
}