.logged-user-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.user-name{
    font-size: 0.9rem;
}

.page{
    min-height: 100vh
}

.header {
    padding: 0;
}

.col-log{
display: flex;
justify-content: center;
height: 100%;
}

.nav-menu{
    font-size: 1.3rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row{
    width: 100%;
    height: 100%;
}

.col{
height: 100%;
}

.logo{
    font-size: 1.9rem;
    font-weight: 700;padding-left: 5px;
}

.login-btn{
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
    margin: auto;
}
.loading{
    margin-top: 50px;
}