.profileForm .ant-input {
  border:1px solid #E0E0E0;
  border-radius: 5px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  border-radius: 5px;
}
.selectItem{
  display: flex;
}
.profileForm .ant-select{
  width: 100%  !important;
}
.profileForm .ant-input-number{
  width: 100%;
}
.profileForm .ant-form-item-label > label{
  width: 150px;

}
.profileForm .ant-form-item-control{
  width: 100%;

}
.profileForm .ant-upload.ant-upload-select{
  width: 100%;
}
.W100{
  width: 80%;
}
.profileForm .ant-upload-list-picture-card-container{
  width: 200px;
  height: 200px;
}
.upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}

.upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
.uploadButton{
  width: 100%;
}
.profileForm .ant-image{
  align-self: center;
margin-top: 10px;
}
.saveButton{
  display: flex;
  justify-content: flex-end;
}
.saveButton button{
  width: 150px;
}