.login {
  height: 100vh;
}

.login-right {
  background: url(../../Utils/assist/images/login.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 58px;
}

.login-right > .ant-typography {
  color: #ffffff;
}

.login-right .login-left__Text {
  font-size: 19px;
  margin-bottom: 20px;
}

#login-left__title {
  color: #5c5c5c;
  margin-bottom: 30px;
}

.login-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 58px;
  background-color: #fafbfc;
}

.login-left__input {
  display: flex;
  width: 580px;
  margin-right: 53px;
}

.login-left__input input {
  font-size: 20px;
}

.login-left__input .ant-input-password,
.login-left__input > .ant-input {
  margin-left: 20px;
  height: 45px;
  background: #ffffff;
  border: 1px solid #c7c7c7;
  border-radius: 5px;
  font-size: 20px;
  color: #6f6f6f;
}

.login-left .ant-form-item-explain-error {
  font-size: 20px;
  text-align: left;
  margin-left: 145px;
}

.ant-alert {
  margin: 23px;
}
