.login {
  height: 100vh;
}

.login-right {
  background: url(../../Utils/assets/images/login.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.login-right > .ant-typography {
  color: #ffffff;
}

#login-left__title {
  color: #5c5c5c;
  margin-bottom: 30px;
}

.login-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 58px;
  background-color: #fafbfc;
}

.login-btn,
.login-right__SignUp-btn {
  width: 200px;
  height: 45px;
  border-radius: 5px;
}

.login-btn {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.login-right__SignUp-btn {
  line-height: 39px;
  border: 1px solid #ffffff;
  color: #fff;
  background-color: transparent;
  margin-top: 1.5rem;
  padding-left: 0;
  transition: all 0.25s;
}

.login-right__SignUp-btn:hover {
  color: #fafbfc;
  background-color: #fdd17f;
  border-color: #fafbfc;
}

.login-btn {
  line-height: 11px;
}

.mobile-Sign-up-btn {
  line-height: 28px;
  display: none;
  width: 255px;
  border-top: 1px solid #e6e7ec;
  color: #5c5c5c;
  margin: 0 auto;
  padding-top: 20px;
  font-weight: bold;
  font-size: 27px;
}

.login .ant-input,
.login .ant-input-password {
  width: 380px;
}

.login .ant-form .ant-form-item .ant-form-item-label {
  width: 23%;
  text-align: right;
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 300;
}

.login .ant-form-item input::placeholder,
.login .ant-form-item .ant-form-item-explain-error {
  font-size: 16px;
  font-weight: 300;
}

.login .input-container {
  margin-right: 94px;
}

@media only screen and (max-width: 1060px) {
  .mobile-Sign-up-btn {
    display: block;
  }

  .login-right {
    display: none;
  }

  .login-left {
    min-width: 100%;
  }

  .login .ant-form .ant-form-item .ant-form-item-label {
    text-align: left;
  }

  .login .input-container {
    margin-right: 0;
  }
}

@media only screen and (max-width: 640px) {
  .mobile-Sign-up-btn {
    display: block;
  }

  .login-left__input {
    display: block;
    flex-direction: column;
    text-align: left;
    padding: 0 !important;
    margin-right: 0;
    width: auto;
  }

  .login-left__input .ant-input-password,
  .login-left__input > .ant-input {
    margin-left: 0;
    min-width: 100%;
  }

  .mobile-Sign-up-btn {
    width: auto;
  }

  .login-right__SignUp-btn {
    width: 100%;
  }

  .login-btn {
    width: 100%;
  }

  .login-left .ant-form-item-explain-error {
    margin-left: 0;
  }

  .login-left .ant-alert {
    margin: 0;
  }
}
