.login {
  height: 100vh;
}

.login-right {
  background: url(../../Utils/assist/images/login.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

.login-right > .ant-typography {
  color: #ffffff;
}

#login-left__title {
  color: #5c5c5c;
  margin-bottom: 30px;
}

.login-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 58px;
  background-color: #fafbfc;
}

.login-left__input {
  display: flex;
  width: 580px;
  margin-right: 53px;
  line-height: 40px;
}

.login-left__input .ant-input-password,
.login-left__input > .ant-input {
  margin-left: 20px;
  height: 45px;
  border-radius: 5px; 
}

.login-left .ant-form-item-explain-error {
  font-size: 20px;
  text-align: left;
  margin-left: 118px;
}

.login-left .ant-alert {
  margin: 23px;
}

.login-right__SignUp-btn,
.login-btn {
  width: 210px;
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 40px;
}

.login-right__SignUp-btn {
  border: 2px solid #ffffff;
  color: #fff;
  background-color: transparent;
  height: 58px;
  border-radius: 12px;
  line-height: 50px;
}

.login-right__SignUp-btn:hover{
  color: #FAFBFC;
  background-color: #FDD17F;
  border-color: #FAFBFC;
}

.login-btn,
.mobile-Sign-up-btn{
  line-height: 28px;
}

.mobile-Sign-up-btn{
  line-height: 28px;
  display: none;
  width: 255px;
  border-top: 1px solid #e6e7ec;
  color: #5c5c5c;
  margin: 0 auto;
  padding-top: 20px;
  font-weight: bold;
  font-size: 27px;
}

@media only screen and (max-width: 1060px) {
  .mobile-Sign-up-btn {
    display: block;
  }

  .login-right {
    display: none;
  }

  .login-left {
    min-width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .mobile-Sign-up-btn {
    display: block;
  }

  .login-left__input {
    display: block;
    flex-direction: column;
    text-align: left;
    padding: 0 !important;
    margin-right: 0;
    width: auto;
  }

  .login-left__input .ant-input-password,
  .login-left__input > .ant-input {
    margin-left: 0;
    min-width: 100%;
  }

  .mobile-Sign-up-btn {
    width: auto;
  }

  .login-right__SignUp-btn {
    width: 100%;
  }

  .login-btn {
    width: 100%;
  }

  .login-left .ant-form-item-explain-error {
    margin-left: 0;
  }

  .login-left .ant-alert {
    margin: 0;
  }
}
