.cardDescription{
    text-align: left;
}

.cardLocation{
    font-size: 12px;
    margin-left: 5px;
}
.cardLocation span{
    margin-left: 5px;
    font-weight: bold;
}
.cardHireMe{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%
}
.imageStyle{
    border-radius: 10px;
    height: 100%
}
.cardStyle{
    border-radius: 5px;
    border: 1px solid #f4f4f4;
    box-shadow: 0 1px 20px rgb(26 50 128 / 8%);
}