.cardStyle {
  border-radius: 12px;
  border: 1px solid #f4f4f4;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  margin-bottom: 19px;
}

#cardTitle {
  margin: 0;
}

.imageContener {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageStyle {
  border-radius: 10px;
}

.cardDescription {
  text-align: left;
}

.cardRating__text {
  font-weight: bold;
  font-size: 16px;
  padding-right: 6px;
  line-height: 1.7;
}

.cardRating__stars {
  font-size: 17.5px;
}

.cardLocation {
  margin: 6px 0 0 6px;
}

.cardLocation,
.cardPrice,
.cardService {
  font-size: 15px;
}

.cardLocation span,
.cardPrice span,
.cardService span {
  margin-left: 5px;
  font-weight: bold;
  margin-right: 5px;
}

#cardDes {
  font-size: 14px;
}

.hireBtn {
  margin-top: 20px;
  border-radius: 12px;
  height: 39px;
  font-size: 17px;
  line-height: 11px;
}

.cardDescription__top,
.cardDescription__bottom {
  display: flex;
  flex-direction: row;
}
.name.ant-typography {
  overflow-wrap: initial;
}

@media only screen and (max-width: 990px) {
  .cardLocation {
    margin-left: 0;
  }
  .cardDescription__top,
  .cardDescription__bottom {
    flex-direction: column;
  }
}
