.initial-style {
  color: white;
  border-radius: 5px;
  border: 1px solid #ffc107;
  transition: all 0.25s;
}

.initial-style:hover {
  background-color: #ffffff;
  transition: all 0.25s;
  color: #ffc107;
}

.primaryButton {
  background-color: #ffc107;
}

.primaryButton:hover,
.primaryButton:focus {
  color: #ffc107;
  border-color: #ffc107;
  background-color: #ffffff;
}

.secondaryButton {
  background-color: #0eb633;
  border-color: #0eb633;
}

.secondaryButton:hover,
.secondaryButton:focus {
  color: #0eb633;
  border-color: #0eb633;
  background-color: #ffffff;
}

.thirdButton {
  background-color: #332a94;
  border-color: #332a94;
}

.thirdButton:hover,
.thirdButton:focus {
  color: #332a94;
  border-color: #332a94;
  background-color: #ffffff;
}

.fourthButton {
  background-color: transparent;
  border-color: #ffeaa7;
  color: #fdcb6e;
}

.fourthButton:hover,
.fourthButton:focus {
  color: #ffffff;
  border-color: #ffc107;
  background-color: #ffc107;
}
