.footer {
  width: 100%;
  text-align: center;
  background-color: transparent;
  font-size: 14px;
  background-image: url(../../Utils/assets/images/footer.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 10px ;
}
