.fine{
    color: #5C5C5C;
}
.subTitle{
    margin-top: 0 !important ;
}
.UserInfo-icon {
    display: block;
    border-radius: 50%;
    background-color: #f0f0f0;
    height: 34px;
    width: 34px;
    padding: 7px;
  }
  .bg{
    background-image: url('../../Utils/assets/images/bg.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right;
    background-size: 1050px 1000px;
    width: 100%;
    height: 880px;
    margin-top: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    padding:0px
}
@media only screen and (max-width: 1020px) {
    .bg{
        background-image:none;
        height: auto;
        padding: 20px;
    }
}