.ant-popover-inner-content {
  display: block;
  width: 290.55px;
  max-height: 391.95px;
  font-size: 14px;
  color: #5c5c5c;
  line-height: 20px;
  padding-bottom: 20px;
  overflow: auto;
  background: #ffffff;
  box-shadow: 2px 4px 24px rgba(107, 75, 75, 0.17);
  text-align: center;
}

#not-panel__title {
  font-size: 25px;
  color: #485c73;
  margin: 10px;
}

.not-panel__contener {
  margin-bottom: 5px;
}

.not-panel__right {
  text-align: left;
}
.not-panel__left{
  color:#FDCB6E;
  text-align: right;
  margin-bottom: 5px;
}

.UserInfo-icon {
  display: block;
  border-radius: 50%;
  background-color: #f0f0f0;
  height: 34px;
  width: 34px;
  padding: 7px;
}