#order-tabs .ant-tabs-nav {
  margin-top: 20px;
  min-width: 619px;
}

#order-tabs .ant-tabs-tab-btn {
  margin: 0 50px;
  font-weight: 600;
}

#order-tabs .ant-tabs-content-holder {
  margin-top: 20px;
}

#order-tabs .ant-tabs-tab-disabled {
  margin: 0;
  width: 0;
  cursor: default;
}

#order-tabs .ant-tabs-tab-disabled .ant-tabs-tab-btn {
  margin-left: 20px;
}

#order-tabs .ant-tabs-tab-disabled:hover {
  cursor: default;
}

.more-info-contener{
  display: flex;
  justify-content: flex-end;
  padding: 20px 21px 0px;
}
