.header {
  background-color: #ffffff;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.16), 0px 8px 4px rgba(0, 0, 0, 0.08);
  padding: 0;
  height: 100%;
}

#navBar-menu {
  text-align: center;
}

#navBar-menu .ant-menu-item {
  margin: 0 14px;
}

.logo {
  font-size: 1.9rem;
  font-weight: 700;
  margin: 0 !important;
}

.sign-in-btn {
  height: 42px;
  width: 150px;
  border-radius: 999px;
  font-size: 20px;
  font-weight: bold;
  line-height: 14px;
}

#drawer-menu .ant-drawer-body {
  padding: 0;
}

#drawer-menu .ant-menu-item {
  margin: 0;
}
