.filter-container{
    width: 770px;
    height: 84px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 2px 4px 24px rgba(0, 0, 0, 0.17);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.filter-select{
    width: 265px;
    height: 40px;
    margin: auto;
} 

.split-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    color: #5C5C5C;
    width: fit-content;
    margin: auto;
}

.search-btn{
    width: fit-content;
    height: fit-content;
    margin: auto;
}