.siderStyle .logo {
  margin: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  text-align: center;
}
.logoText {
  padding-bottom: 15px;
}

.logoTextName {
  padding-top: 15px;
  padding-bottom: 3px;
}

.siderStyle .logo span {
  font-size: 20px;
}

.site-layout .site-layout-background {
  padding: 24px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.layout {
  text-align: left;
}

.siderStyle .ant-menu-item {
  color: #839bb7;
}

.siderStyle .ant-menu-item-selected {
  color: #485c73;
}

.layoutHeder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
}

.layoutHeder .ant-typography {
  font-size: 32px;
}

.siderBackground {
  background-color: white;
  display: flex;
}

.layout .ant-drawer-header {
  text-align: right;
}

.ant-layout-sider-children {
  width: 100%;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-content-wrapper {
  width: 200px !important;
  height: 100%;
}

.ant-drawer-body .ant-layout-sider {
  height: 100%;
}

.siderStyle .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 40px 0;
}

.available {
  margin-bottom: 32px;
  font-size: 16px;
}

.available button {
  margin-left: 8px;
  font-size: 16px;
}

.layout .icon-border {
  border-color: #8f8f8f;
  width: 32px;
  height: 32px;
  line-height: 22px;
  color: #8f8f8f;
}

.layout .icon-border span {
  font-size: 23px;
}
