.siderStyle .logo {
  margin: 16px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  text-align: center;
}
.logoText{
  padding-bottom: 15px;
 
}
.logoTextName{
  padding-top: 15px;
  padding-bottom: 3px;

} 
.siderStyle .logo span {
  font-size: 20px;
}

.site-layout .site-layout-background {
  padding: 24px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.layout {
  text-align: left;
}

.siderStyle .ant-menu-item {
  color: #839bb7;
}

.siderStyle .ant-menu-item-selected {
  color: #485c73;
}

.layoutHeder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px;
}

.layoutHeder span {
  font-size: 32px !important;
}

.siderBackground {
  background-color: white;
  display: flex;
}

.ant-drawer-header {
  text-align: right;
}

.ant-layout-sider-children {
  width: 100%;
}

.ant-drawer-body {
  padding: 0;
}

.ant-drawer-content-wrapper {
  width: 200px !important;
  height: 100%;
}

.ant-drawer-body .ant-layout-sider {
  height: 100%;
}

.siderStyle .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0 40px 0;
}

.available {
  margin-bottom: 32px;
  font-size: 16px;
}

.available button {
  margin-left: 8px;
  font-size: 16px;
}

.bell {
  display: flex;
  box-shadow: 0px 0px 10px rgb(0 0 0 / 9%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.headerIcons{
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.submitBtn {
  text-align: center;

}
.submitBtn button{
  width: 200px;
}
.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline {
  padding-top: 30px;
}
.siderStyle .anticon .anticon-home{
margin-left: 8px;
}